body{

font-family:-apple-system;

background:#fff8fb;

text-align:center;

margin:20px;

}

h1{

color:#e88ca8;

}

button{

background:#f6a6c1;

border:none;

padding:8px 14px;

border-radius:12px;

color:white;

font-weight:bold;

margin:5px;

}

button:hover{

background:#ec8fb0;

}

#timer{

font-size:20px;

margin:10px;

}
